.dockerignore
Dockerfile
db.sqlite3
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
coverage.xml
*,cover
*.log
.git
*.idea/
*.env*
.env*
.DS_Store
my-vern
my_venv
venv/
dist/
docs/
output/
temporary_output/
test_output/
build/
*egg-info
telepresence.log
mlapp/integrations/aml/scripts/workspace_config.py