*.idea/
.vscode/
*.pyc
.DS_Store
my-vern
my_venv
*.log
*.pkl
*.csv
output/
temporary_output/
test_output/
metastore_db/
cache/
venv/
deployment/
dist/
build/
site/
*egg-info
*.env*
.env*
*venv
docs/site/*
mlapp/mlapp_cli/cli_test_env.py
mlapp/integrations/aml/scripts/workspace_config.py
.vector_cache
yelp_review